@font-face {
    font-family: FavoritVariable;
    src: url("./fonts/favorit/ABCFavoritVariable-Trial.ttf");
    font-display: swap;
}

@font-face {
    font-family: TradeGothicBold;
    src: url("trade-gothic/Trade Gothic LT Bold.ttf");
}

@font-face {
    font-family: TradeGothicLTLightOblique;
    src: url("trade-gothic/Trade Gothic LT Light Oblique.ttf");
}

@font-face {
    font-family: TradeGothicLTLight;
    src: url("trade-gothic/Trade Gothic LT Light.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: SourceSerif;
    src: url("source-serif-pro/SourceSerifPro-Regular.otf");
}


:root {
    font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    --brandBlack: #000000;
    --brandWhite: #ffffff;
    --brandGray: #D0D1C9;
    --brandGray70: #4d4d4d;
    --brandGray80: #333333;
    --brandGray90: #191919;
    --brandDarkBlue: #1E3765;
    --brandMedBlue: #007FA3;
    --brandLightBlue: #6FC7EA;
    --brandPurple: #6D247A;
    --brandDarkGreen: #0D534D;
    --brandMedGreen: #00A189;
    --brandLightGreen: #8DBF2E;
    --brandRed: #DC4633;
    --brandYellow: #F1C500;
}

html,
body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    max-width: 100vw;
    max-width: 100dvw;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'FavoritVariable', -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .maplibregl-canvas {
    opacity: 0.8;
} */